.square {
    background-color: white; /* 背景顏色設置為白色 */
    width: 50px; /* 寬度為50像素 */
    height: 50px; /* 高度為50像素 */
    border: 1px solid grey; /* 邊框設置為灰色1像素寬 */
    font-size: 24px; /* 字體大小為24像素 */
    font-weight: bold; /* 字體加粗 */
    cursor: pointer; /* 鼠標懸停時顯示手型指示 */
    line-height: 50px; /* 行高等於元素高度，使內容垂直居中 */
    margin: auto; /* 自動外邊距，使元素水平居中 */
    float: left; /* 浮動到左側 */
    text-align: center; /* 文本水平居中 */
    cursor: pointer; /* 鼠標懸停時顯示手型指示 */
}

.square:hover {
    background-color: deeppink; /* 滑鼠懸停時背景顏色變為深粉紅色 */
    color: white; /* 文本顏色變為白色 */
}

.game {
    width: 400px; /* 寬度為400像素 */
    margin: auto; /* 自動外邊距，使元素水平居中 */
    border: 3px solid blue; /* 邊框設置為藍色3像素寬 */
    border-radius: 20px; /* 圓角設置為20像素 */
    padding: 20px; /* 內邊距為20像素 */
    display: flex; /* 使用彈性盒子模型 */
    flex-direction: row; /* 主軸方向設置為水平方向 */
    align-items: center; /* 元素垂直居中對齊 */
}

.game-board {
    background-color: gainsboro; /* 棋盤背景顏色設置為淺灰色 */
    padding: 10px; /* 內邊距為10像素 */
    border-radius: 10px; /* 圓角設置為10像素 */
    border: 1px solid black; /* 邊框設置為黑色1像素寬 */
}

.board-row:after {
    clear: both; /* 清除浮動 */
    content: ''; /* 生成的內容為空 */
    display: table; /* 元素表格顯示 */
}

.status {
    margin-bottom: 10px; /* 底部外邊距為10像素 */
}
