.App {
  text-align: center; /* 文字居中對齊 */
  background-color: antiquewhite; /* 背景顏色為古董白 */
}

.App-logo {
  height: 40vmin; /* 圖片高度為視窗高度的40% */
  pointer-events: none; /* 禁用指標事件 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* 如果用戶不要求減少動畫，則圖片以20秒線性無限旋轉 */
  }
}

.App-header {
  background-color: blueviolet; /* 標頭背景顏色為藍紫色 */
  min-height: 50vh; /* 最小高度為視窗高度的50% */
  display: flex; /* 使用彈性盒模型 */
  flex-direction: column; /* 主軸方向為垂直列 */
  align-items: center; /* 交叉軸居中對齊 */
  justify-content: center; /* 主軸居中對齊 */
  font-size: calc(10px + 2vmin); /* 字體大小計算 */
  color: white; /* 文字顏色為白色 */
}

.App-link {
  color: #61dafb; /* 鏈接文字顏色為亮藍色 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* 從0度旋轉開始 */
  }

  to {
    transform: rotate(360deg); /* 旋轉至360度 */
  }
}
